*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans',
    sans-serif;
}

/*font-family: 'Noto Sans',
sans-serif;
font-family: 'Playfair Display',
serif;*/


.section-blog {
  padding-top: 70px;
  padding-bottom: 45px;
}

.section-subscribe {
  padding-top: 45px;
  padding-bottom: 100px;
}
